node_modules
dist
dist-ssr
.DS_Store
.env.local
.vscode/*
!.vscode/extensions.json
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
